<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure: </div>
    <div><%= flight.departs %></div>
  </section>
  <h2>Purchase Tickets:</h2>
  <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
  <label for="seat">Seats: A1-F99</label>
  <input name="seat" required pattern="[A-F][1-9]/d?">
  <label for="price">Price:</label>
  <input name="price" type="number" min="0">
  <button type="submit">Buy</button>
  </form>
  <br>
  <section>
    <% if (flight.tickets.length) { %> 
      <% flight.tickets.forEach(function(ticket) { %>
        Seat: <%= ticket.seat %>
        Price: <%= ticket.price %>
    <% }) %> 
    <% } else { %>
      <h2>No Tickets</h2>
    <%  } %> 
  </section>
</main>

<%- include('../partials/footer') %>